
.App{
    height: 100%;
}
.route_box,html,body,#root{
    /* height:670px;  */
    height: 100%;
    /* overflow-y: hidden;  */
}
.login_box{
   width:100%;
   height:100%;
   background:url(../App/content/img/login.jpg) no-repeat center center; 
   background-size:cover;
    position: relative;
}
.center_box{
    width:360px;
    height:318px;
    min-height: 20px;
    padding: 19px;
    background: rgba(255,255,255, 0.2);
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-179px;
}
.img_box{
    width:100px;
    height:100px;
    margin:10px auto;
    border-radius:50%;
    overflow:hidden;
}
.img_box img{
    width:100%;
    height: 100%;
}
.text_box{
    height:18px;
    line-height:18px;
    font-size:13px;
    color:#fff;
    text-align:center;
    margin:0 0 5px 0;
    width:100%;
}
.input_box{
    margin-top:15px;
}
.input_box span{
    float:left;
    height:14px;
    padding: 12px 12px;
    font-size: 12px;
    font-weight: normal;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
.input_box input{
    float:left;
    width:295px;
    height: 14px;
    padding: 12px 12px;
    font-size: 12px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    outline: none;
}
.login_btn{
    display:inline-block;
    cursor: pointer;
    width:91%;
    padding: 10px 16px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #18bc9c;
    margin-top:20px;
    text-align:center;
}