.tan_contentnone{
width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    display: block;
}
.tan_content{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.tan_content .bg{
    width:100%;
    height:100%;
    background:#000;
    opacity: 0.5;
    position: fixed;
    left:0;
    top:0;
    z-index:109;
}
.input_box {
    overflow: hidden;
}
.tan_box{
    width:700px;
    /* height:500px; */
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-350px;
    margin-top:-250px;
    background:#fff;
    border-radius:8px 8px;
    z-index:110;
    overflow:hidden;
}
.tan_box .tan_title{
    width:100%;
    height:42px;
    line-height:42px;
    background:#2c3e50;
    color:#fff;
}
.tan_box .tan_title span{
    float:left;
    height:42px;
    line-height:42px;
    margin-left:15px;
    font-size:16px;
}
.input_content .input_info .i1{
     display:inline-block;
    outline:none;
    margin-left: 5px;
    width:200px;
    height:30px;
    line-height:30px;
    border:1px solid #d2d6de;
    color:#666;
    padding-left:10px;
}
.s1{
    width: 70px;
    font-size: 12px;
    display: inline-block;
}
.input_content .input_info  .s1 {
    width: 65px;
    font-size: 12px;
    display: inline-block;
}
.tan_box .tan_title i{
    float:right;
    height:42px;
    line-height:42px;
    margin-right:15px;
    font-size:22px;
    cursor: pointer;
}
.input_content{
    width: 515px;
    margin:0 auto;
    padding:30px 0;
}
.input_info{
    width:100%;
    margin-bottom:20px;
}
.input_info i{  
    width: 15px;
    display: inline-block;
    color: #F04844;
}
.input_content .input_info span{
    font-size:14px;
    color:#333;
}
.input_content .input_info input{
    display:inline-block;
    outline:none;
    margin-left: 5px;
    width:435px;
    height:30px;
    line-height:30px;
    border:1px solid #d2d6de;
    color:#666;
    padding-left:10px;
}

.input_content .input_info .radio_btn{
    width:14px;
    height:14px;
    vertical-align: middle;
}
.input_content .btn_sure a{
    padding:6px 12px;
    display:inline-block;
    color:#fff;
    cursor: pointer;
    font-size:14px;
    border-radius:6px;
    margin-right:10px;
}
.input_content .btn_sure a.sure{
    background:#18bc9c;
}
.input_content .btn_sure a.replay{
    background:#ddd;
    color:#444;
}
.delete_box{
    width: 350px;
    height: 240px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -120px;
    background: #fff;
    border-radius: 8px 8px;
    z-index: 110;
    overflow: hidden;
}
.text_box{
    width:160px;
    margin:30px auto 10px;
}
.del{
    display: none;
}

.text_box i{
    display:inline-block;
    background:url(./img/icon.png) no-repeat;
    background-position: -90px 0;
    width: 30px;
    height: 30px;
    margin-right:10px;
}
#d_box{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_box span{
    font-size:16px;
    color:#333;
    vertical-align: top;
    display:inline-block;
    margin-top:6px;
}
.input_content .btn_two{
    width:150px;
    margin-left:110px;
}
.input_content .btn_two2{
    width:150px;
    margin-left:150px;
}
.input_content .input_info select{
    display:inline-block;
    /* width:235px; */
    height:30px;
    line-height:30px;
    margin-left: 5px;
    border:1px solid #d2d6de;
    color:#666;
    outline: none;
    /* padding-left:10px; */
    text-align: center;
}
.input_content .input_info .left_text{
    width:100px;
}
.input_content .input_info .img_box{
    float:left;
    width:285px;
    height:100px;
    padding-left:10px;
    border:1px solid #d2d6de;
}
.input_content .input_info .tp{
    float:left;
    margin-right:5px;
}
.input_content .input_info .sc{
    padding:5px 15px;
    background:#18bc9c;
    color:#fff;
    font-size:14px;
    float:left;
    vertical-align: top;
    margin:38px 40px;
}
.input_content .input_info textarea{
    float:left;
    width:435px;
    height:190px;
    border:1px solid #d2d6de;
    color:#666;
    padding:10px 0 0 10px;
}
.input_content .input_info .xb{
    margin-left:90px;
}
.center_box .login_btn{
    width: 91%;
}
.tan_box2{
   width:700px;
    /* height:500px; */
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-350px;
    margin-top:-250px;
    background:#fff;
    border-radius:8px 8px;
    z-index:110;
    overflow:hidden;
}
.input_info input:focus{
    border: 1px solid #40a9ff;
}
.input_info .tis{
    display: inline-block;
    
}
.input_info .tis span{
    margin-left: 10px;
    display: none;
    color: red;
}